n8n-workflows/low-stock-alert.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "low-stock-alert",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.currentStock}}",
              "operation": "smallerEqual",
              "value2": "={{$json.lowStockThreshold}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "inventory@example.com",
        "toEmail": "admin@example.com",
        "subject": "=Low Stock Alert: {{$json.productName}}",
        "text": "=Product {{$json.productName}} (Code: {{$json.productCode}}) is low in stock.\n\nCurrent stock: {{$json.currentStock}}\nLow stock threshold: {{$json.lowStockThreshold}}\nCategory: {{$json.category}}\n\nPlease replenish inventory soon.\n\nThis is an automated message.",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "{{$env.TELEGRAM_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "=⚠️ Low Stock Alert ⚠️\n\nProduct: {{$json.productName}}\nCode: {{$json.productCode}}\nCurrent Stock: {{$json.currentStock}}\nThreshold: {{$json.lowStockThreshold}}\nCategory: {{$json.category}}\n\nPlease replenish inventory soon."
            }
          ]
        },
        "options": {}
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Notification sent successfully"
            }
          ]
        },
        "options": {}
      },
      "name": "Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}